header{
    position: fixed;
    height: 75px;
    top: 0;
    left: 0;
    right: 0;
    background-color: blue;
    z-index: 10;
    display:grid;
    grid-template-columns: 85px 1fr minmax(500px, 1fr);
    grid-template-rows: 100%;
}

.header-item {
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border: 1px solid red;
    background: blue;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

.figure-logo {
    height: inherit;
    width: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.figure-logo img{
    width: auto;
    height: 90%;
    padding: 0;
    margin: 0;
    overflow:hidden;
    z-index: 40;
  }

.menu{
    color: white;
}

a {
	border: 1px solid;
	padding: 7px 20px;
	text-decoration: none;
	color: white;
    display: flex;
    align-items: center;
}



.header-item:nth-of-type(2){
    background: whitesmoke;        -webkit-text-fill-color: white;        -webkit-text-stroke: 1.5px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
  }

.header-item:nth-of-type(3){
    background: rgb(174, 0, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }